<html>
  <head>
    <meta charset="UTF-8">
    <title>❄️☁️ - {{path}}</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">/</a>
        </li>
        {{#breadcrumbs}}
        <li>
          <a href="/{{route}}">{{name}}</a>
        </li>
        {{/breadcrumbs}}
      </ul>
    </nav>

    {{#stats}}
    <section>
      <dl>
        <dt>System Usage</dt>
        <dd>
          <progress
            max="{{systemTotal}}"
            value="{{systemUsed}}"
            title="{{systemUsedDisplay}} of {{systemTotalDisplay}} used. {{systemAvailableDisplay}} available."
          ></progress>
        </dd>
        <dt>Storage Usage</dt>
        <dd>
          <progress
            max="{{storageTotal}}"
            value="{{storageUsed}}"
            title="{{storageUsedDisplay}} of {{storageTotalDisplay}} used. {{systemAvailableDisplay}} available."
          ></progress>
        </dd>
      </dl>
    </section>
    {{/stats}}

    <h2>Upload</h2>
    <form method="POST" enctype="multipart/form-data">
      <input
        type="file"
        name="filefield"
        required
        multiple
      />
      <input type="checkbox" checked name="createFile" hidden />
      <button>Upload</button>
    </form>

    <h2>Create Folder</h2>
    <form method="POST">
      <input
        type="text"
        name="folderName"
        pattern="^[a-zA-Z0-9\-_ ]+$"
        required
      >
      <input type="checkbox" checked name="createFolder" hidden />
      <button>Create Folder</button>
    </form>

    <h2>Files</h2>
    <ul>
      {{#files}}
      <li>
        {{#isDir}}
        <a href="/{{route}}">{{name}}</a>
        <dl>
          <dt>Created At</dt>
          <dd>{{createdAtDate}}</dd>
          <dt>Last Modified At</dt>
          <dd>{{lastModifiedDate}}</dd>
          <dt>Size</dt>
          <dd>{{sizeDisplay}}</dd>
        </dl>
        <form method="POST" action="/{{route}}">
          <input type="checkbox" checked name="delete" hidden />
          <button>🗑️</button>
        </form>
        {{/isDir}}
        {{#isFile}}
        <a href="/{{route}}" download="{{name}}">{{name}}</a>
        <dl>
          <dt>Created At</dt>
          <dd>{{createdAtDate}}</dd>
          <dt>Last Modified At</dt>
          <dd>{{lastModifiedDate}}</dd>
          <dt>Size</dt>
          <dd>{{sizeDisplay}}</dd>
        </dl>
        <form method="POST" action="/{{route}}">
          <input type="checkbox" checked name="delete" hidden />
          <button>🗑️</button>
        </form>
        {{/isFile}}
      </li>
      {{/files}}
    </ul>
  </body>
</html>